<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/quiz.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/scripts/next-question.js"></script>
</head>

<body>
  <!-- Header -->
  <%- include('./partials/_header.ejs') %>

  <!--Error Message-->
  <div class="error">
    <h3>Ayyy woah pick an answer pls</h3>
  </div>

  <!-- Content -->
  <% if (userID) { %>
  <div class="content" quiz-id="<%= results.quiz_id %>" user-id="<%= userID %>">
    <h2><%= results.question %></h2>
    <div class="top-row-answers">
      <div class="answers">
        <h4>A: <%= results.answer1 %></h4>
      </div>
      <div class="answers">
        <h4>B: <%= results.answer2 %></h4>
      </div>
    </div>
    <div class="bottom-row-answers">
      <div class="answers">
        <h4>C: <%= results.answer3 %></h4>
      </div>
      <div class="answers">
        <h4>D: <%= results.answer4 %></h4>
      </div>
    </div>
  </div>
  <button class="next">Next</button>
  <% } else { %>
    <h1>Please login to do the quiz!</h1>
  <% } %>
</body>

</html>
