<!DOCTYPE html>
<html lang="en">

<head>
  <title>Results</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/results.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('./partials/_header.ejs') %>
  <div class="results-container">
    <div class="page-top">
      <h2>Grade: <%= results[0].grade %></h2>
      <h2>Results: <%= results[0].result %>%</h2>
    </div>
    <div class="page-bottom">
      <h5>User: <%= results[0].name %></h5>
      <h5>Quiz Name: <%= results[0].quiz_name %></h5>
    </div>
  </div>

</body>

</html>
